dialog.instructions-dialog{
    max-height: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    overflow:hidden;
    border-radius: 10px;
    background: #9a9261 url("camuflage.svg") repeat top left; 
    scroll-behavior: smooth;
    
}


.colonel{
    width: 100%;
    height: 100%;
}

#instruction_sheet{
    display: flex;
    flex-direction: column;
    justify-content: center;


    width: 80%;
    height: 100%;
    margin:10px;
}

.sheet-container{
position: relative;
margin:20px;
padding: auto;
width: 100%;
height: 60vh;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-content: space-between;

}


.sheet-container p{
margin: 10px;
}

.minimapDiv{
    /*height:300px*/
    height: 60vh;
}

.inst_img{
    width:40px ;
    height: 40px;
}

.bubble {
    position: relative;
    width: 200px;
    height: max-content;
    line-height: 20px;
    color: #000000;
    text-align: center;
    padding: 20px;
    background: #fcfcfc;
    border-radius: 10px;
    border: 2px solid black;
    z-index: 2;
    margin:10px;
    
    
 }
 

 .bubble:before {
   content: '';
   position: absolute;
   background-color: rgb(255, 255, 255);
   border-style:  solid;
   border-color:  black;
   border-top: 2px ;
   border-right: 2px;
   display: block;
   width: 40px;
   height: 40px;
   z-index: 0;
   left: -22px;
   transform: rotate(45deg);
   top: 15px;
  
}

.img_wrapper{
    width: 200px;
    height: max-content;
    background-color: rgba(255,255,255,.8);
    padding: 10px;
    border-radius: 10px;
}

 .redletter{
    color: red;
    font-size: 20px;
 }

 .blueletter{
    color: blue;
    font-size: 20px;
 }

 .columnFlex{
    display:flex;
    flex-direction: column;
 }
.rowFlex{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.pic-grid-2x2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    gap: 10px;
    margin: 10px;
}

.start-game{
    background-color: red;
}

.instr-button:hover{
    box-shadow: 0 0 2px 2px brown;
    color: white;
}

.instr-button{
    font-family: 'Press Start 2P', cursive;
    padding: 15px;
    border-radius: 15px;
    margin: 10px 0;
    transition-duration: 200ms;
    text-decoration: none;
    color: black;
    z-index: 100;
}

#start_game_button{
    left: 110px;
    position: sticky;
    bottom: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#next-sheet-button{
    display: inline;
    padding: 15px;
    background-color: #9a9261;
    z-index:101;
    left: 10px;
    position: sticky;
    bottom: 10px;
    box-shadow: 0 0 1px 2px  yellowgreen;
    align-self: flex-end;
}

#next-sheet-button:hover{
    box-shadow: 0 0 2px 3px  yellow; 
}

/*
#next-sheet-button-container{
    left: 10px;
    position: sticky;
    bottom: 10px;
}
*/

#instruction_sheet{
    background-color: none;
}

@keyframes buttonGlow {
    0% {box-shadow: 0 0 1px 2px greenyellow;}
    50% {box-shadow: 0 0 3px 7px greenyellow;}
    100% {box-shadow: 0 0 1px 2px greenyellow;}
}

.buttonGlow {
    animation-name: buttonGlow;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
}